%clip {
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.title {
  font-size: 3rem;

  &--red {
    background: linear-gradient(to right, rgb(255, 197, 118), rgb(240, 23, 23));
    -webkit-background-clip: text;
    @extend %clip;
  }

  &--green {
    background: linear-gradient(
      to right,
      rgb(182, 244, 146),
      rgb(51, 139, 147)
    );
    -webkit-background-clip: text;
    @extend %clip;
  }

  &--large {
    font-size: 4rem;
  }

  &--italic {
    font-style: italic;
  }
}

.animated {
  background-size: 200% 200%;
  animation: spiral 2s infinite linear;
}

@keyframes spiral {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
