@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background-dark: #{$background-dark};
  --text-dark: #{$text-dark};
  --background-light: #{$background-light};
  --text-light: #{$text-light};
  --background-navbar: #{$background-navbar};
  --background-button: #{$background-button};
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }

  .header {
    background-color: var(--background-navbar);
    color: var(--text-dark);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--background-light);
    color: var(--text-light);
  }

  .header {
    background-color: var(--background-light);
    color: var(--text-light);
  }

  .step-button {
    background-color: var(--background-button);
    color: var(--text-dark);
  }

  .navbar__exit {
    color: var(--text-light);
  }

  .title {
    -webkit-text-stroke: 1px black;
    color: white;
  }

  .username-field__input {
    border-color: black;
  }
}
